@tailwind base;
@tailwind components;
@tailwind utilities;

/* xl */
/* @media (min-width: 1280px) {
  html {
    font-size: 17px;
  }
} */

/* 2xl */
/* @media (min-width: 1536px) {
  html {
    font-size: 18px;
  }
} */

/* xs */
html {
    font-size: 13px;
}

/* sm */
@media (min-width: 640px) {
    html {
        font-size: 14px;
    }
}

/* md */
@media (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

/* lg */
@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}
body {}

body .ant-image-preview-img-wrapper::before{
  height: 10%!important;
}
body .ant-image-preview-img-wrapper img{
  height: 80%!important;
  margin: 0 auto;
}
body .ant-image-preview-switch-left{
  left: 8%;
}
body .ant-image-preview-switch-right{
  right: 8%;
}